html, body {
    font-family: 'Lora', serif !important;
    font-size: 18px;
    line-height: 140%;
}

i.material-icons {
    vertical-align: middle;
}

a {
    color: indigo;
    text-decoration: none;
}
a h3 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 110%;
    line-height: 160%;
    margin: 0 0 24px;
}
p code {
    font-size: 85%;
    opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', serif !important;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: none;
    font-weight: 700;
}

h1 {
    font-size: 220%;
}
h2 {
    font-size: 190%;
}
h3 {
    font-size: 160%;
}
h4 {
    font-size: 150%;
    color: rgb(100,100,100);
}
h5 {
    font-size: 140%;
}
h6 {
    font-size: 130%;
}

ul, li {
    list-style-type: circle;
    font-size: 100%;
    line-height: 200%;
}

pre {
    margin: 24px !important;
}

main {
    position: fixed;
    top: 0; left: 250px;
    bottom: 0; right: 0;
    margin-top: 112px;
    z-index: 0;
}

.main-layout {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
}

.bigger {
    font-size: 160%;
    vertical-align: middle;
}

.content-padding {
    background-color: white;
    padding: 48px;
}

.content-margin {
    margin: 48px;
}

.media-container {
    text-align: center;
    margin: 48px;
}
